**/target/**
**/.metals/**
.idea/

**/out/**
**/tmpfs/**

**/flink-1.9.1*/**
flink-1.9.1*

**/secrets*

*ungraph*
Project1-master*
audioscrobbler-dataset*

mvn-shennenigans
**/datasets
**/out
ref
ref-git
udemyexamples/kdd.ics.uci.edu/databases
garbage
lib

**/.idea
**/target
**/dependency-reduced-pom.xml

ufscar-cloud


cloud/openmpi-*
usr/
**/.ipynb_checkpoints
# logs
bin
__pycache__


# temporários de compilação
*.aux
*.bbl
*.blg
# *.log
*.synctex*
*.toc
*.fdb_latexmk
*.fls
*.lof
# *.out
*temp.tex
*.brf
*.idx
*.ilg
*.loq
*.lot
*.nav
*.snm
*.vrb
*.tdo

# resultantes, adicionar com -f
# *.pdf
*.dvi
!00.beamer.pdf
!00.main.pdf

# diretório de referencias não publicas
ref

overleaf
*/venv
*/.venv
