**/target/**
**/.metals/**
.idea/

**/out/**
**/tmpfs/**

**/flink-1.9.1*/**
flink-1.9.1*

**/secrets*

*ungraph*
Project1-master*
audioscrobbler-dataset*

mvn-shennenigans/*
udemyexamples/kdd.ics.uci.edu/databases

**/.idea
**/target
**/dependency-reduced-pom.xml
