Host gpu-server
  HostName 200.18.99.63
  User puhl
  IdentityFile secrets/id_rsa
  Port 4107
  LocalForward	3232	127.0.0.1:3232
  RemoteForward	3131	127.0.0.1:3131
  # squid proxy
  RemoteForward	3128	127.0.0.1:3128

Host jantar
  HostName 192.168.0.32
  User pi
  IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'
  LocalForward	3232	127.0.0.1:3232
  RemoteForward	3131	127.0.0.1:3131
  # squid proxy
  RemoteForward	3128	127.0.0.1:3128
