Compression yes

Host gpu-server
  HostName 200.18.99.63
  User puhl
  IdentityFile secrets/id_rsa
  Port 4107
  LocalForward	3232	127.0.0.1:3232
  RemoteForward	3131	127.0.0.1:3131
  # squid proxy
  RemoteForward	3128	127.0.0.1:3128

Host almoco
  HostName 192.168.0.30
  User pi
  IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'
  LocalForward	3232	127.0.0.1:3232
  RemoteForward	3131	127.0.0.1:3131
  # squid proxy
  RemoteForward	3128	127.0.0.1:3128
Host almoco-home
  HostName 192.168.0.30
  User pi
  IdentityFile secrets/id_rsa
Host jantar
  HostName 192.168.0.32
  User pi
  IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'
Host lanche
  HostName 192.168.0.31
  User pi
  IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'

Host dell11
  HostName 192.168.0.11
  User puhl
  IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'
Host dell20
  HostName 192.168.0.20
  User puhl
  IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'
# Host mw100
#   HostName 192.168.0.10
#   User puhl
#     IdentityFile secrets/id_rsa
  ProxyJump gpu-server
  # ProxyCommand ssh -F secrets/config gpu-server 'nc %h %p'
