
# temporários de compilação
*.aux
*.bbl
*.blg
*.log
*.synctex*
*.toc
*.fdb_latexmk
*.fls
*.lof
*.out
*temp.tex
*.brf
*.idx
*.ilg
*.loq
*.lot
*.nav
*.snm
*.vrb
*.tdo

# resultantes, adicionar com -f
*.pdf
*.dvi
!00.beamer.pdf
!00.main.pdf

# diretório de referencias não publicas
ref
